USE [master]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 27-01-2026 19:45:44 ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_AgentSigningCertificate##]    Script Date: 27-01-2026 19:45:44 ******/
CREATE USER [##MS_AgentSigningCertificate##] FOR LOGIN [##MS_AgentSigningCertificate##]
GO
/****** Object:  Table [dbo].[t1]    Script Date: 27-01-2026 19:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t1](
	[xtype] [char](2) NOT NULL,
	[CountOfObjects] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27-01-2026 19:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NULL,
	[UserName] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[t1] ([xtype], [CountOfObjects]) VALUES (N'IF', 72)
INSERT [dbo].[t1] ([xtype], [CountOfObjects]) VALUES (N'U ', 9)
INSERT [dbo].[t1] ([xtype], [CountOfObjects]) VALUES (N'SQ', 3)
GO
INSERT [dbo].[Users] ([UserId], [UserName]) VALUES (N'fc79c408-26dc-4ceb-88ed-d7ff00ae6c40', N'Ayushi')
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserId]
GO
