USE [master]
GO
/****** Object:  Database [db1]    Script Date: 21-01-2026 16:12:43 ******/
CREATE DATABASE [db1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\db1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\db1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB ), 
( NAME = N'log2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\log2.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db1]
GO
/****** Object:  Table [dbo].[Table_Customer]    Script Date: 21-01-2026 16:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Customer](
	[Customer_id] [int] NOT NULL,
	[first_name] [varchar](500) NULL,
	[last_name] [varchar](500) NULL,
	[phone] [decimal](18, 0) NULL,
	[email] [varchar](500) NULL,
	[street] [varchar](500) NULL,
	[city] [varchar](500) NULL,
	[state] [varchar](500) NULL,
	[zip_code] [int] NULL,
 CONSTRAINT [PK_Table_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Dept]    Script Date: 21-01-2026 16:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Dept](
	[DeptId] [int] NOT NULL,
	[DeptName] [varchar](500) NULL,
 CONSTRAINT [PK_Table_Dept] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Employee]    Script Date: 21-01-2026 16:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Employee](
	[EmpId] [int] NOT NULL,
	[EmployeeName] [varchar](500) NOT NULL,
	[salary] [decimal](18, 2) NULL,
	[DeptId] [nchar](10) NULL,
 CONSTRAINT [PK_Table_Employee_1] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Employee_backup]    Script Date: 21-01-2026 16:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Employee_backup](
	[EmpId] [int] NOT NULL,
	[EmployeeName] [varchar](500) NOT NULL,
	[salary] [decimal](18, 2) NULL,
	[DeptId] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Order]    Script Date: 21-01-2026 16:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Order](
	[Order_id] [int] NOT NULL,
	[Customer_id] [int] NULL,
	[order_status] [varchar](50) NULL,
	[order_date] [datetime] NULL,
	[required_date] [datetime] NULL,
	[shipped_date] [datetime] NULL,
	[store_id] [int] NULL,
	[staff_id] [int] NULL,
 CONSTRAINT [PK_Table_Order] PRIMARY KEY CLUSTERED 
(
	[Order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_OrderItems]    Script Date: 21-01-2026 16:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_OrderItems](
	[order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[list_price] [decimal](18, 2) NULL,
	[discount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Table_OrderItems_1] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_staffs]    Script Date: 21-01-2026 16:12:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_staffs](
	[staff_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [decimal](18, 0) NULL,
	[active] [varchar](50) NULL,
	[store_id] [int] NULL,
	[manager_id] [int] NULL,
 CONSTRAINT [PK_Table_staffs] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_stores]    Script Date: 21-01-2026 16:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_stores](
	[store_id] [int] NOT NULL,
	[store_name] [varchar](500) NULL,
	[phone] [decimal](18, 0) NULL,
	[email] [varchar](500) NULL,
	[street] [varchar](500) NULL,
	[city] [varchar](500) NULL,
	[state] [nchar](10) NULL,
	[zip_code] [int] NULL,
 CONSTRAINT [PK_Table_stores] PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Table_Customer] ([Customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (1, N'Ayushi', N'Bhutani', CAST(9818113484 AS Decimal(18, 0)), N'ayushibhutani15@gmail.com', N'Faridabad', N'Faridabad', N'Haryana', 121002)
INSERT [dbo].[Table_Customer] ([Customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (2, N'Akram', N'Shammi', CAST(9304570790 AS Decimal(18, 0)), N'akramshammi@gmail.com', N'Jharkhand', N'Jharkhand', N'Jharkhand', 11111)
INSERT [dbo].[Table_Customer] ([Customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (3, N'Sneha', N'Maurya', CAST(981812234 AS Decimal(18, 0)), N'sneha@gmail.com', N'banaras', N'banaras', N'up', 123123)
GO
INSERT [dbo].[Table_Dept] ([DeptId], [DeptName]) VALUES (1, N'CSE')
INSERT [dbo].[Table_Dept] ([DeptId], [DeptName]) VALUES (2, N'MEC')
INSERT [dbo].[Table_Dept] ([DeptId], [DeptName]) VALUES (3, N'ECE')
GO
INSERT [dbo].[Table_Employee] ([EmpId], [EmployeeName], [salary], [DeptId]) VALUES (1, N'Ayushi', CAST(1000000000.00 AS Decimal(18, 2)), N'1         ')
INSERT [dbo].[Table_Employee] ([EmpId], [EmployeeName], [salary], [DeptId]) VALUES (2, N'Akram', CAST(20000000.00 AS Decimal(18, 2)), N'2         ')
INSERT [dbo].[Table_Employee] ([EmpId], [EmployeeName], [salary], [DeptId]) VALUES (3, N'Sneha', CAST(2345434.00 AS Decimal(18, 2)), N'3         ')
GO
INSERT [dbo].[Table_Employee_backup] ([EmpId], [EmployeeName], [salary], [DeptId]) VALUES (1, N'Ayushi', CAST(1000000000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Table_Employee_backup] ([EmpId], [EmployeeName], [salary], [DeptId]) VALUES (2, N'Akram', CAST(1000000000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Table_Employee_backup] ([EmpId], [EmployeeName], [salary], [DeptId]) VALUES (3, N'Sneha', CAST(2345434.00 AS Decimal(18, 2)), NULL)
GO
INSERT [dbo].[Table_Order] ([Order_id], [Customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (1, 1, N'packed', CAST(N'2026-01-12T00:00:00.000' AS DateTime), CAST(N'2026-01-20T00:00:00.000' AS DateTime), CAST(N'2020-01-15T00:00:00.000' AS DateTime), 1, 15)
GO
INSERT [dbo].[Table_OrderItems] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (1, 11, 15, 2, CAST(200.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Table_staffs] ([staff_id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (15, N'Anu', N'Bhuvan', N'anu@gmail.com', CAST(9818113484 AS Decimal(18, 0)), N'yes', 1, 15)
GO
INSERT [dbo].[Table_stores] ([store_id], [store_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (1, N'LPU', CAST(9818113484 AS Decimal(18, 0)), N'ayushibhutani15@gmail.com', N'Jalandhar', N'Jalandhar', N'Punjab    ', 14441)
GO
ALTER TABLE [dbo].[Table_Order]  WITH CHECK ADD  CONSTRAINT [FK_Table_Order_Table_Customer] FOREIGN KEY([Order_id])
REFERENCES [dbo].[Table_Customer] ([Customer_id])
GO
ALTER TABLE [dbo].[Table_Order] CHECK CONSTRAINT [FK_Table_Order_Table_Customer]
GO
ALTER TABLE [dbo].[Table_Order]  WITH CHECK ADD  CONSTRAINT [FK_Table_Order_Table_staffs] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Table_staffs] ([staff_id])
GO
ALTER TABLE [dbo].[Table_Order] CHECK CONSTRAINT [FK_Table_Order_Table_staffs]
GO
ALTER TABLE [dbo].[Table_Order]  WITH CHECK ADD  CONSTRAINT [FK_Table_Order_Table_stores] FOREIGN KEY([store_id])
REFERENCES [dbo].[Table_stores] ([store_id])
GO
ALTER TABLE [dbo].[Table_Order] CHECK CONSTRAINT [FK_Table_Order_Table_stores]
GO
ALTER TABLE [dbo].[Table_OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_Table_OrderItems_Table_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Table_Order] ([Order_id])
GO
ALTER TABLE [dbo].[Table_OrderItems] CHECK CONSTRAINT [FK_Table_OrderItems_Table_Order]
GO
ALTER TABLE [dbo].[Table_staffs]  WITH CHECK ADD  CONSTRAINT [FK_Table_staffs_Table_staffs] FOREIGN KEY([manager_id])
REFERENCES [dbo].[Table_staffs] ([staff_id])
GO
ALTER TABLE [dbo].[Table_staffs] CHECK CONSTRAINT [FK_Table_staffs_Table_staffs]
GO
ALTER TABLE [dbo].[Table_staffs]  WITH CHECK ADD  CONSTRAINT [FK_Table_staffs_Table_stores] FOREIGN KEY([store_id])
REFERENCES [dbo].[Table_stores] ([store_id])
GO
ALTER TABLE [dbo].[Table_staffs] CHECK CONSTRAINT [FK_Table_staffs_Table_stores]
GO
USE [master]
GO
