USE [db1]
GO
/****** Object:  StoredProcedure [dbo].[MyPractice]    Script Date: 22-01-2026 15:51:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CASE1: creating and altering a stored procedure 
CREATE procedure [dbo].[MyPractice]
@FirstName1 varchar(500),
@LastName1 varchar(500)
as 
BEGIN

SELECT * 
FROM Table_Customer
WHERE first_name = @FirstName1 OR last_name = @LastName1

END
GO
/****** Object:  StoredProcedure [dbo].[Practice2]    Script Date: 22-01-2026 15:51:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Practice2]
@Employee_ID int, 
@Employee_Name varchar

AS
BEGIN 

SELECT * 
FROM Table_Employee
WHERE EmpId = @Employee_ID OR EmployeeName = @Employee_Name


END
GO
